{% extends 'base.html.twig' %}

{% block content_title %}{% endblock %}

{% block header %}
    {% block media_player %}
        <div id="media_player">
            <media-player></media-player>
        </div>
    {% endblock %}
{% endblock %}

{% block body %}

    <div>

        <router-view></router-view>

    </div>
{% endblock %}
