@import "component/variables";

html,body {
    height: auto;
    background-color: $background;
    color: $base-color;
    text-align: justify;
}

body {
    padding-bottom: 150px;
}

h1,h2,h3 {
    color: $base-color;
    text-align: left;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    margin-top: 10px;
    padding-left: 10px;
    border-top: 1px solid $primary;
    border-bottom: 1px solid $primary;
}

h3 {
    font-size: 1rem;
}

.font-small {
    font-size: x-small;
}

a[target="_blank"] {
    background-image: url('../../public/img/external-ltr.svg');
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 18px;
}

.fa {
    display: inline-block;
    width: 16px;
}

.form-group label.required::after {
    content: " *";
    color: $danger;
}

.tab-content {
    border: 2px solid $light;
    padding: 5px;
}

img {
    &.img-icon {
        height: 25px;
    }
    &.img-icon-small {
        height: 20px;
    }
    &.img-logo {
        height: 40px;
    }
}

.todo {
    color: $background;
    background-color: $base-color;
    margin-top: 10px;
    padding: 5px;
    h1,h2,h3 {
        color: $background;
        border-color: $background;
    }
    &:before {
        content: 'TODO';
        display: block;
        border-top: 1px solid $background;
        border-bottom: 1px solid $background;
        color: $background;
    }
}


.card {
    margin-bottom: 10px;
    background-color: transparent;

    .toggle_collapse {
        &:before {
            content: "\21D3";
        }
        &.collapsed {
            &:before {
                content: "\21D2";
            }
        }
    }
}

footer {
    padding: 5px;
}

.btn-menu {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    line-height: 57px;
    border: 5px solid $secondary;
    &.btn-menu-middle {
        width: 100px;
        height: 100px;
        border-radius: 50px;
        line-height: 75px;
    }
    &:hover, &:active {
        border-color: $primary;
    }
    &:focus {
        border-color: $secondary;
    }
    &.router-link-exact-active {
        border-color: $light;
    }
}


@import "component/links_ultr";
@import "component/sweet-modal";
@import "component/btn_hover";
@import "component/toaster";
@import "component/tiny-tabs";

