// customize some Bootstrap variables
//$primary: darken(#428bca, 40%);
$primary: #66275C;
$secondary: #04416E;

$success: #57E411;
$danger: #E21212;
$warning: #FFEC15;
$info: #009FA5;
$light: #FFFAFF;
$dark: #010000;

$link-color: #04416E;
$link-decoration: $link-color;
$link-hover-color: $link-color;
$link-hover-decoration: $link-color;

$font-family-sans-serif: "Junge", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
$font-weight-base: 500;
$headings-font-family: "Junge", "Segoe UI", cursive;
$headings-font-weight: 700;

@import "~bootstrap/scss/bootstrap";

$background: #FDAD72;
$background-gradient: #963546;
$base-color: #010000;
@import "common";


//*****SPECIFIC*****
@font-face {
  font-family: 'Junge';
  src: url('/public/font/Junge-Regular.ttf');
}

.btn-danger, .btn-info {
  color: #212529;
}
.btn-warning:hover {
  color: #FFFFFF;
}
.btn-light:hover {
  background-color: #CCC8CC;
}

html, body {
  // radial gradient from center to border
  background: $background;
  background: -moz-radial-gradient(center, ellipse cover, $background 0%, $background-gradient 100%);
  background: -webkit-radial-gradient(center, ellipse cover, $background 0%, $background-gradient 100%);
  background: radial-gradient(ellipse at center, $background 0%, $background-gradient 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdad72', endColorstr='#963546',GradientType=1 );

}


