:root {

  --simple-button-size: 50px;

  --play-button-size: 70px;
  --timeline-slider-track-height: 5px;
  --timeline-slider-track-margin: 12px;
  --timeline-slider-thumb-size: 18px;
  --timeline-slider-thumb-margin: -7px;

}
