{% extends 'base.html.twig' %}

{% block content_title %}<h1>Theme preview</h1>{% endblock %}

{% block body %}

    <div>

        <h2>Bootstrap color preview</h2>
        <div>
            <p>This is <a href="#">a wonderful (?) link!</a></p>
            <fieldset>
                <legend>Buttons</legend>
                <button type="button" class="btn btn-primary">Primary</button>
                <button type="button" class="btn btn-secondary">Secondary</button>
                <button type="button" class="btn btn-success">Success</button>
                <button type="button" class="btn btn-danger">Danger</button>
                <button type="button" class="btn btn-warning">Warning</button>
                <button type="button" class="btn btn-info">Info</button>
                <button type="button" class="btn btn-light">Light</button>
                <button type="button" class="btn btn-dark">Dark</button>
            </fieldset>
            <fieldset>
                <legend>Alerts</legend>
                <div class="alert alert-success" role="alert">
                    This is a success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
                </div>
                <div class="alert alert-danger" role="alert">
                    This is a danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
                </div>
                <div class="alert alert-warning" role="alert">
                    This is a warning alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
                </div>
                <div class="alert alert-info" role="alert">
                    This is a info alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
                </div>
            </fieldset>
			
			<fieldset>
                <legend>Cards</legend>
                <div class="card-deck">
                    <div class="card">
                        <div class="card-header text-white bg-primary"><span class="card-title">Primary TW</span></div>
                        <div class="card-body">Body</div>
                        <div class="card-footer text-right">Footer</div>
                    </div>
                    <div class="card">
                        <div class="card-header text-white bg-secondary"><span class="card-title">Secondary TW</span></div>
                        <div class="card-body">Body</div>
                        <div class="card-footer text-right">Footer</div>
                    </div>
                    <div class="card">
                        <div class="card-header bg-success"><span class="card-title">Success</span></div>
                        <div class="card-body">Body</div>
                        <div class="card-footer text-right">Footer</div>
                    </div>
                    <div class="card">
                        <div class="card-header bg-warning"><span class="card-title">Warning</span></div>
                        <div class="card-body">Body</div>
                        <div class="card-footer text-right">Footer</div>
                    </div>
                    <div class="card">
                        <div class="card-header bg-danger"><span class="card-title">Danger</span></div>
                        <div class="card-body">Body</div>
                        <div class="card-footer text-right">Footer</div>
                    </div>
                    <div class="card">
                        <div class="card-header bg-info"><span class="card-title">Info</span></div>
                        <div class="card-body">Body</div>
                        <div class="card-footer text-right">Footer</div>
                    </div>
                    <div class="card">
                        <div class="card-header bg-light"><span class="card-title">Light</span></div>
                        <div class="card-body">Body</div>
                        <div class="card-footer text-right">Footer</div>
                    </div>
                    <div class="card">
                        <div class="card-header text-white bg-dark"><span class="card-title">Dark TW</span></div>
                        <div class="card-body">Body</div>
                        <div class="card-footer text-right">Footer</div>
                    </div>
                </div>
            </fieldset>
        </div>


        <div class="todo">
            <p>This is a todo section</p>
        </div>

    </div>
{% endblock %}
