
<div class="row">
    <!--
    <div class="col-2">
      <router-link :to="{ name: 'settings' }" class="btn btn-primary btn-main btn-main-settings">
        <icon name="cog" scale="2"/>
      </router-link>
    </div>
    -->
    <div class="col-4 text-center">
        <a href="#" class="btn btn-primary btn-menu">link</a>
    </div>
    <div class="col-4 text-center">
        <a href="{{ url('index') }}" class="btn btn-primary btn-menu btn-menu-middle">Home</a>
    </div>
    <div class="col-4 text-center">
        <a href="{{ url('test_theme') }}" class="btn btn-primary btn-menu">Theme</a>
    </div>
</div>
