{% apply inline_css %}
    <style>
        body {
            background-color: #F9F1F7;
            color: #30343F;
        }
        {# here, define your CSS styles as usual #}
        h1, h2, h3 {
            color: #9f4f89;
        }

        footer {
            border-top: 1px solid #30343F;
            font-size: small;
        }
    </style>


<h1>{% block title %}{% endblock %}</h1>


{% block content %}{% endblock %}


<footer>
    {% block footer %}
        <p>{{ 'generated_by'|trans({generator: global_app_name}, 'email') }}</p>
    {% endblock %}
</footer>

{% endapply %}
